BasedOnStyle: LLVM
ColumnLimit: 120
PointerAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PackConstructorInitializers: Never
AlwaysBreakAfterReturnType: None
BinPackParameters: OnePerLine
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
PenaltyReturnTypeOnItsOwnLine: 1000
BreakBeforeBinaryOperators: NonAssignment
PenaltyBreakAssignment: 300
